<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>CATALOG</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
            crossorigin="anonymous"></script>
</head>
<body>
<div>
    <table class="table caption-top" border="1px">
        <caption>CATALOG OF EDITIONS</caption>
        <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Title</th>
            <th scope="col">Index</th>
            <th scope="col">Publishing House</th>
            <th scope="col">Recommended Price</th>
            <th scope="col">Buy</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="edition :${list}">
            <td th:text="${edition.id}"></td>
            <td th:text="${edition.title}"></td>
            <td th:text="${edition.index}"></td>
            <td th:text="${edition.publishingHouse}"></td>
            <td th:text="${edition.recommendedPrice}"></td>
            <td>
                <form action="shoppingCart.html" method="post"
                      th:attr="action=@{/personal/addFormSubscription(editionId=${edition.id})}">
                    <fieldset>
                        <input type="submit" class="btn btn-success btn-md" value="ADD TO CART">
                    </fieldset>
                </form>
            </td>
        </tr>
        </tbody>
    </table>
</div>
<br>
<br>
<input type="button" onclick="history.back();" value="Back"/>
</body>
</html>