<!DOCTYPE html>
<html lang="en">
<head>
    <meta  charset="UTF-8">
    <title></title>
</head>
<body>
<h1>User account login</h1>
<form action="/login" method="post">
    <p>
        <label>Login:</label>
        <input type="text" name="login" placeholder="login">
        <span id="error" style="color:red"></span>
    </p>
    <p>
        <label>Password:</label>
        <input type="password" name="password" placeholder="password">
    </p>
    <br>
    <button type="submit">Confirm</button>
</form>
<br>
<a href="userRegister">Registration</a>
</body>
</html>